<h1>Welcome to Relational Rails</h1>

<ul>
  <li><a href="/libraries">Libraries</a></li><br>
    <a href="/books">Books</a><br>
</ul>

<ul>
  <li><a href="/novels">Novels</a></li><br>
  <a href="/characters">Characters</a><br>
</ul>
