<%= link_to "Books Index", "/books" %>

<form action="/libraries/<%= params[:id] %>/books" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new Book:</p>
  <p>Title:</p>
  <input type='text' name='book[title]'/>

  <p>Audio Book?</p>
  <label for="yes">Yes</label>
  <input type="radio" name="book[audio_book]" id="yes" value=true><br>
  <label for="no">No</label>
  <input type="radio" name="book[audio_book]" id="no" value=false><br>

  <p>Copies Available:</p>
  <input type='number' name='book[copies_available]'/>
  <p>Written Date:</p>
  <input type='date' name='book[created_at]'/>
  <p>Revised Date:</p>
  <input type='date' name='book[updated_at]'/><br/><br/>
  <input type='submit' value='Create Book'/>
</form>
